{% extends 'kickstar/base.html' %}

{% load static %}

{% block main-content %}
<!--following part-->

<div class="row">
    <div class="col m3">
        <div class="card">
            <div class="card-content">
                <span class="card-title">John Wall</span>
                <span> a project backer</span>
            </div>
            <div class="card-action">
                <a >following  100</a>
                <a>follower   100</a>
            </div>
             <div class="card-action">
                <a >back project  100</a>
                <a>pledge project   100</a>
            </div>
        </div>
    </div>
    <div class="col m7">
        <!-- project sample -->
        <div class="col s12 m12">
          <div class="card">
            <div class="card-image">

                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6Nxc-3WpMbg" frameborder="0" allowfullscreen></iframe>
                </div>

            </div>
            <div class="card-content">
                <span class="grey-text">Yao Ming started project</span>
                <span class="card-title">ProjectName</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">More details</a>
            </div>
          </div>
        </div>
        <!--comment sample-->
        <div class="col m12">
            <div class="card">
                <span class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;Amy</span>
                <span class="grey-text small">comment on this:</span>
                <div class="card-content">
                    <blockquote>
                        this is an excellent project!
                    </blockquote>
                    I really like this project
                </div>
                <div class="card-action">
                    <a href="">project name</a>
                </div>
            </div>
        </div>
        <!--follow sample-->
        <div class="col m12">
            <div class="card">
                <span class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;Amy</span>
                <span class="grey-text small">&nbsp;&nbsp;just followed:</span>
                <div class="card-content">
                    <div class="card">
                        <div class="card-content">
                           <div class="card-title"> Bobe Bryant</div>
                            <blockquote>
                                this is this person's description
                            </blockquote>
                            <span class="grey-text">
                                Kobe Bryant has the following projects:
                                <ul class="collection">
                                    <li class="collection-item">project1</li>
                                    <li class="collection-item">project2</li>
                                    <li class="collection-item">project3</li>
                                    <li class="collection-item">project4</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
{#                <div class="card-action">#}
{#                    <a href="">project name</a>#}
{#                </div>#}
            </div>
        </div>
        <!--followed sample-->
        <div class="col m12">
            <div class="card">
                <span class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;Amy</span>
                <span class="grey-text small">&nbsp;&nbsp;just followed by:</span>
                <div class="card-content">
                    <div class="card">
                        <div class="card-content">
                           <div class="card-title"> Bobe Bryant</div>
                            <blockquote>
                                this is this person's description
                            </blockquote>
                            <span class="grey-text">
                                Kobe Bryant has the following projects:
                                <ul class="collection">
                                    <li class="collection-item">project1</li>
                                    <li class="collection-item">project2</li>
                                    <li class="collection-item">project3</li>
                                    <li class="collection-item">project4</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
{#                <div class="card-action">#}
{#                    <a href="">project name</a>#}
{#                </div>#}
            </div>
        </div>
    </div>
</div>

{% endblock %}