{% extends 'kickstar/base.html' %}

{% load static %}

{% block main-content %}

<div class="row">
    <div class="col m12 center-align red lighten-5">
        <br>
        <h4>  {{ projectname }} </h4>
        <span class="grey-text small">by {{ projectfunder }}</span>
        <br><p></p><br>
    </div>
</div>
    <br>
<div class="row">
<div class="col m10 offset-m2">
    <div class="col m4">
        <h5>Support this Project</h5>
    </div>
</div>
<div class="col m10 offset-m2">
    <div class="col m7">
          <ul class="collection">
            <li class="collection-item avatar">
              <img src="{% static 'kickstar/images/Tunning-icon.png' %}" alt="" class="circle">
              <b class="title flow-text">$10 or more</b>
              <p>Innocent Bystander<br>
                 <span class="grey-text">we will give a tiny reward for the donation!</span>
              </p>
                <br>
                <div class="divider"></div>
                <br>
                <form class="row" action="{% url 'kickstar:payment' %}" method="post">
                    {% csrf_token %}
                    <div style="display: none">
                        <input type="text" name="projectid" value="{{ projectid }}">
                        <input type="text" name="projectname" value="{{ projectname }}">
                        <input type="text" name="projectfunder" value="{{ projectfunder }}">
                    </div>
                    <input name="amount" type="text" class="input-field col m6" placeholder="10" size="50">
                    <button class="white"  type="submit"  class="secondary-content" style="border:none; margin-top: 0px; margin-left: 150px"><i class="fa fa-credit-card-alt fa-3x"  alt="pledge this project"></i></button>
                </form>
            </li>
            <li class="collection-item avatar" >
              <img src="{% static 'kickstar/images/Tunning-icon.png' %}" alt="" class="circle">
              <span class="title flow-text">$25 or more</span>
              <p>Protagonist<br>
                 <span class="grey-text">we will give a medium reward for the donation!</span>
              </p>
                <br>
                <div class="divider"></div>
                <br>
                <form class="row" action="{% url 'kickstar:payment' %}" method="post">
                    {% csrf_token %}
                    <div style="display: none">
                        <input type="text" name="projectid" value="{{ projectid }}">
                        <input type="text" name="projectname" value="{{ projectname }}">
                        <input type="text" name="projectfunder" value="{{ projectfunder }}">
                    </div>
                    <input name="amount" type="text" class="input-field col m6" placeholder="25" size="50">
                    <button class="white"  type="submit"  class="secondary-content" style="border:none; margin-top: 0px; margin-left: 150px"><i class="fa fa-credit-card-alt fa-3x"  alt="pledge this project"></i></button>
                </form>

            </li>
            <li class="collection-item avatar">
              <img src="{% static 'kickstar/images/Tunning-icon.png' %}" class="circle">
              <span class="title flow-text">$100 or more</span>
              <p>Crazy people<br>
                 <span class="grey-text">we will give a huge reward for the donation!</span>
              </p>
                <br>
                <div class="divider"></div>
                <br>
                <form class="row" action="{% url 'kickstar:payment' %}" method="post">
                    {% csrf_token %}
                    <div style="display: none">
                        <input type="text" name="projectid" value="{{ projectid }}">
                        <input type="text" name="projectname" value="{{ projectname }}">
                        <input type="text" name="projectfunder" value="{{ projectfunder }}">
                    </div>
                    <input name="amount" type="text" class="input-field col m6" placeholder="100" size="50">
                    <button class="white"  type="submit"  class="secondary-content" style="border:none; margin-top: 0px; margin-left: 150px"><i class="fa fa-credit-card-alt fa-3x"  alt="pledge this project"></i></button>
                </form>
            </li>
            <li class="collection-item avatar">
              <img src="{% static 'kickstar/images/Tunning-icon.png' %}" class="circle">
              <span class="title flow-text">Even higher</span>
              <p>Generous<br>
                 <span class="grey-text">How much to donate? You decide.</span>
              </p>
                <br>
                <div class="divider"></div>
                <br>
                <form class="row" action="{% url 'kickstar:payment' %}" method="post">
                    {% csrf_token %}
                    <div style="display: none">
                        <input type="text" name="projectid" value="{{ projectid }}">
                        <input type="text" name="projectname" value="{{ projectname }}">
                        <input type="text" name="projectfunder" value="{{ projectfunder }}">
                    </div>
                    <input name="amount" type="text" class="input-field col m6" placeholder="" size="50">
                    <button class="white"  type="submit"  class="secondary-content" style="border:none; margin-top: 0px; margin-left: 150px"><i class="fa fa-credit-card-alt fa-3x"  alt="pledge this project"></i></button>
                </form>
            </li>
          </ul>
    </div>
</div>
</div>
    {{ projectname }}
{% endblock %}