<footer class="page-footer white-text">
    <div class="row">
        <div class="col s12 m6 l6">
            <h5>About Us</h5>
            <span>Fanrui Sun (fs1408)</span><br>
            <span>Chang Liu (cl3869)</span>
        </div>
        <div class="col s12 m6 l6">
            <ul>
                <li><a href="" class="white-text">Category</a></li>
                <li><a href="" class="white-text">help</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
         <div class="footer-copyright small">
            <h12> 2017 Copyright</h12>
         </div>
    </div>
</footer>



<script>
$( document ).ready(function() {
    console.log( "ready!" );
      $('.carousel.carousel-slider').carousel({fullWidth: true});
});
</script>
