{% extends 'kickstar/base.html' %}

{% load static %}


{% block main-content %}
    <!--carousel-->
      <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-fixed-item center">
          <a class="btn waves-effect white grey-text darken-text-2" href="{% url 'kickstar:category' %}">See All Category</a>
        </div>
          {% for item in newest_project %}
              <div class="carousel-item black-text" href="#one!" style="background: url({% static item.pbackgroundpic %}); background-size:cover;">
                  <h2>{{ item.pname }}</h2>
                  <p class="black-text">{{ item.pdescription }}</p>
              </div>
          {% endfor %}
      </div>
    <br><br>
<!--popular-->
      <div class="container">
          <div class="row">
                <h4 class="col m6">Popular Projects</h4>
                <span class="col m1 offset-m10"><a href="" class="btn ">more</a></span>
          </div>
          <div class="row">
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="{% static 'kickstar/images/sample-1.jpg' %}">
                  <span class="card-title">ProjectName</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
              <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="{% static 'kickstar/images/sample-1.jpg' %}">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
              <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="{% static 'kickstar/images/sample-1.jpg' %}">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
              <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="{% static 'kickstar/images/sample-1.jpg' %}">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
              <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="{% static 'kickstar/images/sample-1.jpg' %}">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
              <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="{% static 'kickstar/images/sample-1.jpg' %}">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    <br>
<!--recommendation-->
      <div class="container">
          <div class="row">
                <h4 class="col m6">Recommended Projects</h4>
                <span class="col m1 offset-m10"><a href="" class="btn ">more</a></span>
          </div>
          <div class="row">
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="{% static 'kickstar/images/sample-1.jpg' %}">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
              <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="{% static 'kickstar/images/sample-1.jpg' %}">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
              <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="{% static 'kickstar/images/sample-1.jpg' %}">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
              <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="{% static 'kickstar/images/sample-1.jpg' %}">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
              <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="{% static 'kickstar/images/sample-1.jpg' %}">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
              <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="{% static 'kickstar/images/sample-1.jpg' %}">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
          </div>
      </div>
{% if message %}
  <script>
         Materialize.toast('{{ message }}', 4000);
  </script>
{%  endif %}

{%  endblock %}


