{% extends 'kickstar/base.html' %}

{% load static %}

{% block main-content %}
<!--share button-->
  <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=727244590785229";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<style>
    img{
        max-width: 80%;
    }
</style>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'kickstar/css/fontawesome-stars.css' %}">
<script src="{% static 'kickstar/js/jquery.barrating.min.js' %}" ></script>
<div class="container">
  <div class="row">
    <div class="col m2">
        <h4 class="">
            {{ project.user.username }}
        </h4>
        <div class="">
            <div>3 created</div>
            <br>
            <div><button href="" class="btn red lighten-3">follow</button></div>
             <br> <br>
            <div class="row">
              <div class="fb-share-button  col m6 white"
                data-href="http://www.google.com"
                data-layout="button_count">
              </div>
          </div>
        </div>
    </div>
    <div class="col m8 offset-m1">
        <h3>{{ project.pname }}</h3>
        <p>{{ project.pdescription }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col m6 offset-m2">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6Nxc-3WpMbg" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
      <div class="col m4" >
          <big><i class="fa fa-usd" aria-hidden="true"></i>{{ project.maxbudget }}</big>
          <small class="grey-text">pledged for <i class="fa fa-usd" aria-hidden="true"></i>{{ project.amountpledged }}</small>
          <p><big>{{ project.backcount }}</big> Backers</p>
          <select id="projectrating" disabled>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3" >3</option>
              <option value="4">4</option>
              <option value="5" selected>5</option>
           </select>
          <p><small class="small grey-text">{{ project.likecount }} people like this project</small> </p>
          <p> <small><span class="grey-text">plan complete time</span> {{ project.plancompletetime }}</small> </p>
          <form action="{% url 'kickstar:backproject' %}" method="post">
              {% csrf_token %}
              <div style="display: none;">
                  <input type="text" name="projectid" value="{{ project.pk }}">
                  <input type="text" name="projectname" value="{{ project.pname }}">
                  <input type="text" name="projectfunder" value="{{ project.user.username }}">
              </div>
              <input type="submit" href="" class="btn col m12" value="Back this project">
          </form>

          {% if request.session.username and likeproject %}
              <a href="{% url 'kickstar:projectlike' project.pk 0 %}" class="btn col m12 white"><span class="black-text"><i class="fa fa-bookmark" aria-hidden="true"></i> Saved</span></a>
          {% else %}
              <a href="{% url 'kickstar:projectlike' project.pk 1 %}" class="btn col m12 white"><span class="black-text"><i class="fa fa-star" aria-hidden="true"></i> Like</span></a>
          {% endif %}
{#          <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="btn col m6 white"><span class="black-text"><i class="fa fa-share" aria-hidden="true"></i>Share</span></a>#}

      </div>
  </div>
  <div class="row">
      <ul id="tabs-swipe-demo" class="tabs col offset-m2">
        <li class="tab col s2"><a class="active" href="#campaign">Campaign</a></li>
        <li class="tab col s2"><a href="#updates">Updates</a></li>
        <li class="tab col s2"><a   href="#comments">Comments</a></li>
        <li class="tab col s2"><a   href="#rate">Rate</a></li>
      </ul>
      <div id="campaign" class="col m12 offset-m2">
            <h3 class="normal mb3 mb7-sm mobile-hide">
            About this project
            </h3>

            <div class="full-description js-full-description responsive-media formatted-lists">
                {{ project.pcontentdetail|safe }}
            </div>

      </div>
      <div id="updates" class="col m12 offset-m2">
         <br><br>
         {% if request.session.user.pk == project.user.pk %}
                       <!--update form-->
          <form action="{% url 'kickstar:updateproject' %}" method="post">
              {% csrf_token %}
              <div style="display: none;">
                  <input type="text" name="pk" value="{{ project.pk }}">
              </div>
              <div class="row">
                <div class="input-field col s6">
                    <input id="title" name="title" type="text" class="materialize-textarea validate" placeholder="summary">
                    <label class="active" for="title">update summary</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                    <textarea id="content" name="content" type="text" class="materialize-textarea validate" placeholder="update info"></textarea>
                    <label class="active" for="comment">write your progress</label>
                </div>
                <div class="col s3" style="padding-bottom: 10%">
                  <input type="submit" value="update" class="btn" >
                </div>
                    <div style="display: none;">
                        <input type="text" value="{{ project.pk }}" name="pk">
                    </div>
              </div>
          </form>
         {% endif %}
         {% if project_updates %}
             {% for item in project_updates %}
                  <div class="col m10">
                    <div class="col m3">
                        <span class=" btn-flat disabled" style="padding-top: 10%">{{ item.postdate }}</span>
                    </div>
                    <div class="col m7 ">
                        <blockquote>
                            <h5>{{ item.title }}</h5>
                            <br>
                            <div>
                                {{ item.body }}
                            </div>
                        </blockquote>
                    </div>
                  </div>
             {% endfor %}
         {% else %}
             <span>Sorry, there is no update so far.</span>
         {% endif %}
      </div>
      <div id="comments" class="col m12 offset-m2">
          <br><br>
          <!--comment input-->
          <form action="{% url 'kickstar:projectcomment' %}" method="post">
               {% csrf_token %}
              <div class="row">
                <div class="input-field col s6">
                    <textarea id="content" name="content" type="text" class="materialize-textarea validate" placeholder="@username to mention"></textarea>
                    <label class="active" for="comment">write your comment</label>
                </div>
                <div class="col s3" style="padding-bottom: 10%">
                  <input type="submit" value="comment" class="btn">
                </div>
                    <div style="display: none;">
                        <input type="text" value="{{ project.pk }}" name="pk">
                    </div>
              </div>
          </form>
            {% if project_comments %}
                {% for item in project_comments %}
                    <div class="col m10">
                        <div class="col m3">
                            <span class=" btn-flat disabled" style="padding-top: 10%">{{ item.username.username }}</span>
                        </div>
                        <div class="col m7 ">
                            <blockquote>
                               {% if item.replyusername %}
                                   <span class="chip">
                                       @{{ item.replyusername }}
                                   </span>
                               {% endif %}
                               <span>{{ item.content }}</span>
                               <br>
                                <span class="right grey-text">{{ item.commenttime }}</span>
                            </blockquote>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <span>Sorry, there is no comment so far.</span>
            {% endif %}
        </div>
        <!--rate -->
        <div id="rate" class="col m12 offset-m2">
        {% if rate_project %}
            you have rated this project:
            <br>{{ rate_project.rate }}
            <select id="alreadyrated" name="rate">
              <option value="1" {% if 1 ==  rate_project.rate  %}selected{% endif %}>1</option>
              <option value="2" {% if 1 ==  rate_project.rate  %}selected{% endif %}>2</option>
              <option value="3" {% if 1 ==  rate_project.rate  %}selected{% endif %}>3</option>
              <option value="4" {% if 1 ==  rate_project.rate  %}selected{% endif %}>4</option>
              <option value="5" {% if 1 ==  rate_project.rate  %}selected{% endif %}>5</option>
            </select>

            {% elif pledge_project %}
              <form action="{% url 'kickstar:rateproject' %}" method="post">
                  {% csrf_token %}
                  <input type="text" value="{{ project.pk }}" name="pk" style="display: none;">
                    <select id="ratingsection" name="rate">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  <input type="submit" value="Rate" class="btn">
              </form>


        {% else %}
            you need to back this project before rate it.
        {% endif %}
        </div>
      </div>
  </div>
</div>
</div>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
             <script>
                Materialize.toast('{{ message }}', 4000);
              </script>
        </li>
        {% endfor %}
    </ul>
{% endif %}

<script type="text/javascript">
    $(function() {
      $('#ratingsection').barrating({
        theme: 'fontawesome-stars'
      });
      $('#projectrating').barrating({
        theme: 'fontawesome-stars',
           readonly:true
      });
      $('#alreadyrated').barrating({
        theme: 'fontawesome-stars',
           readonly:true
      });
   });
</script>
{% endblock %}