{% extends 'kickstar/base.html' %}

{% load static %}

{% block main-content %}

<div class="row">
    <div class="col m12 center-align red lighten-5">
        <br>
        <h4>  Project Name </h4>
        <span class="grey-text small">by John Wall</span>
        <br><p></p><br>
    </div>
</div>
<div class="container">
    <form class="col m10 offset-m2">
      <div class="row">
        <div class="input-field col m6 offset-m3">
          <input id="input1" class="materialize-textarea" type="text">
          <label for="input1">Update Summary</label>
        </div>
      </div>
{#       <div class="input-field col s6">#}
{#          <input placeholder="Placeholder" id="first_name" type="text" class="validate">#}
{#          <label for="first_name">First Name</label>#}
{#        </div> #}

      <div class="row">
        <div class="input-field col m6 offset-m3">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Update Summary</label>
        </div>
      </div>
      <div class="row">
          <div class="col m6 offset-m3">
               <input type="date" class="datepicker" placeholder="choose a update time">
          </div>
      </div>

        <br><br>
      <div class="row">
          <input type="submit" value="Submit" class="btn col m4 center offset-m4">
      </div>
    </form>
</div>
<script>
     $(document).ready(function() {
        $('select').material_select();
         $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 17 // Creates a dropdown of 15 years to control year
          });
  });
</script>
{% endblock %}